.l-header {
	&__title {
		font-size: 30px;
		padding: 60px;
	}

	&__nav {
		ul {
			display: flex;
			justify-content: flex-end;

			li {
				padding: 16px;
			}
		}
	}
}

#header {
	height: 40px;
	width: 100%;
	background-color: $sub-color;
}

#serch_area {
	display: none;
	ul {
		display: flex;
		flex-flow: wrap;
		li {
			width: 25%;
		}
	}
}
.area_none {
	display: none;
}