#main_v {
	width: 100%;
	text-align: center;
  height: 300px;
  background-color: $main-color;
}

#main {
  width: 950px;
  margin: 0 auto;
}

#search {
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 20%;
      height: 100px;
      text-align: center;
    }
  }
}